html, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Louis George Cafe;
    src: url(/media/font/Louis\ George\ Cafe.ttf);
}
@font-face {
    font-family: Tommy Soft;
    src: url(/media/font/Tommy\ Soft.ttf);
}

header {
    z-index: 10;
    width: 100%;
    padding: 2vw;
    font-family: 'Louis George Cafe';
    font-size: 1.75vw;
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    }

    a {
        color: black;
        text-decoration: none;
    }

    .dropbtn {
        display: flex;
        background-color: white;
        border: none;
        cursor: pointer;
        margin-right: 50px;
      }

      .dropbtn img {
        height: 1.75vw;
        cursor: pointer;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: -100px;
        font-size: 2vw;
        padding-top: 20px;
        box-shadow: none;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      a:hover {color: rgb(82, 197, 255);}
      a:active {color: rgb(0, 170, 255)}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      .dropdown:hover .dropbtn {color: rgb(95, 42, 42);}

.cover-container {
        font-family: 'Louis George Cafe';
        height: 30vw;
        width: 100%;
      }
      
      .cover video {
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 25vw;
          object-fit: cover;
      }

    .cover h1 {
      position: absolute;
      width: 40%;
      padding: 2vw;
      text-align: center;
      font-size: 4vw;
      background-color: white;
      z-index: 2;
      top: 14vw;
      left: 28%;
    }

main {
      width: 80%;
      margin: auto;
      font-family: 'Louis George Cafe';
      font-size: 1.4vw;
      }
  
    .grid-container {
      margin-top: 0vw;
      display: grid;
      grid-template-columns: 40% 60%;
      gap: 2vw;
    }
  
    .grid-item {
      text-align: right;
    }
  
    .grid-item iframe {
      height: 100%;
      width: 100%;
      aspect-ratio: 16 / 9;
    }    
    
    hr {
      height: 2px;
      margin-top: 3vw;
      margin-bottom: 3vw;
      border-width: 0;
      background-color:black;
  }
  
  footer {
    font-family: Tommy Soft;
    background-color: white;
    padding: 4vw;
    text-align: center;
}

@media (orientation: portrait) {

        header {
          padding: 4vw;
          font-size: 4vw;
          }
      
          .dropbtn {
              margin-right: 7vw;
            }
      
            .dropbtn img {
              height: 4vw;
            }
            
            .dropdown-content {
              font-size: 4vw;
            }
            
.cover-container {
              height: 50vw;
            }
            
            .cover video {
                height: 45vw;
            }
            
            .cover h1 {
                    width: 60%;
                    padding: 4vw;
                    font-size: 6vw;
                    top: 27vw;
                    left: 16%;
                }
            
            main {
                width: 80%;
                margin: auto;
                font-size: 4vw;
                }
            
            .grid-container {
                    grid-template-columns: 100%;
                  }
            
              .grid-container2 {
                    grid-template-columns: 100%;
                  }

    .grid-item {
          text-align: center;
      }

      .grid-item p {
        text-align: left;
      }
                            
}