html, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Louis George Cafe;
    src: url(/media/font/Louis\ George\ Cafe.ttf);
}
@font-face {
    font-family: Tommy Soft;
    src: url(/media/font/Tommy\ Soft.ttf);
}

header {
    z-index: 10;
    width: 100%;
    padding: 2vw;
    font-family: 'Louis George Cafe';
    font-size: 1.75vw;
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    }

    a {
        color: black;
        text-decoration: none;
    }

    .dropbtn {
        display: flex;
        background-color: white;
        border: none;
        cursor: pointer;
        margin-right: 50px;
      }

      .dropbtn img {
        height: 1.75vw;
        cursor: pointer;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: -100px;
        font-size: 2vw;
        padding-top: 20px;
        box-shadow: none;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      a:hover {color: rgb(82, 197, 255);}
      a:active {color: rgb(0, 170, 255)}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      .dropdown:hover .dropbtn {color: rgb(95, 42, 42);}

.grid-container {
    margin-top: 6vw;
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
  }

  .grid-item {
    background-image: linear-gradient(white, rgb(235, 248, 254));
    z-index: 8;
    position: relative;
  }

  .grid-item img {
    padding: 5vh;
    height: 30vw;
    display: block;
    margin: auto;
    position: relative;
    z-index: 8;
  }

  .grid-item .background1 img {
    padding: 0;
    height: auto;
    width: 34vw;
    left: 6vw;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }

  .grid-item .background2 img {
    padding: 0;
    height: auto;
    width: 20vw;
    right: 5vw;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }

.welcome {
    font-family: Louis George Cafe;
    color: black;
    font-family: Tommy Soft;
    position: relative; 
    z-index: 8;
    margin-top: 4vw;
    }   

    .welcome h1 {
      font-size: 5vw;
      font-weight: bold;
    }

    .welcome p {
        font-size: 2vw;
        line-height: 1.25;
        padding-right: 3vw;
    }

.grid-item a {
  font-family: Louis George Cafe;
    color: black;
    font-family: Tommy Soft;
}

.contact {
  padding: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  color: white;
  font-weight: bold;
  font-size: 1.5vw;
  background-color: rgb(82, 197, 255);
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 8;
}

main .contact:hover {
  color: white;
  background-color: rgb(41, 184, 255);
}

.work {
  padding: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  color: black;
  font-size: 1.5vw;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 8;
}

h2 {
  margin-top: 40px;
  font-family: Tommy Soft;
  font-size: 4vw;
}

.main-grid {
      display: grid;
      grid-template-columns: 18% 23% 23% 23% 13%;
      margin-bottom: 30px;
    }

    .main-grid-item {
      font-family: Tommy Soft;
      font-size: 4vw;
      display: block;
      margin: auto;
      position: relative;
    }

    .main-grid-item img {
      object-fit: cover;
      width: 85%;
      aspect-ratio: 1;
      display: block;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #ffffffd2;      
    }

      .main-grid-item:hover .overlay {
        opacity: 1;
      }

      .text {
        color: black;
        font-size: 3vw;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }

    .main-grid-item a {
      font-size: 3vw;
      cursor: pointer;
    }

.contact-grid {
      display: grid;
      margin: auto;
      grid-template-columns: 45% 55%;
      background-color: rgb(235, 248, 254);
    }

    .contact-grid-item {
      font-family: Tommy Soft;
      font-size: 5vw;
      display: block;
      margin: auto;
    }

    .contact-grid-item p {
      font-size: 2.5vw;
    }

footer {
    font-family: Tommy Soft;
    background-color: white;
    padding: 4vw;
    text-align: center;
}

@media (orientation: portrait) {

  header {
    padding: 4vw;
    font-size: 4vw;
    }

    .dropbtn {
        margin-right: 7vw;
      }

      .dropbtn img {
        height: 4vw;
      }
      
      .dropdown-content {
        font-size: 4vw;
      }

.grid-container {
        margin-top: 6vw;
        grid-template-columns: 100%;
        background-image: linear-gradient(white, rgb(235, 248, 254));
      }
    
      .grid-item {
        background-image: none;
      }
    
      .grid-item img {
        padding: 0;
        padding-top: 6vw;
        height: 25vw;
      }
    
      .grid-item .background1 img {
        display: none;
      }
    
      .grid-item .background2 img {
        width: 90vw;
        right: 6vw;
      }

  .welcome {
        text-align: center;
        top: -8vw;
        }   
    
        .welcome h1 {
          font-size: 12vw;
        }
    
        .welcome p {
            font-size: 5vw;
            margin-top: -6vw;
        }
  .contact {
          padding: 3vw;
          padding-left: 4vw;
          padding-right: 4vw;
          font-size: 4vw;
          margin-left: 25%;
          top: -6.5vw;
        }
        
  .work {
    padding: 3vw;
    padding-left: 4vw;
    padding-right: 4vw;       
    font-size: 4vw;
    top: -6.5vw;
      }

h2 {
  margin-top: 6vw;
  font-size: 6vw;
}

.contact-grid {
  grid-template-columns: 100%;
  background-color: rgb(235, 248, 254);
  padding: 3vw;
}

  .contact-grid-item {
    font-family: Tommy Soft;
    font-size: 8vw;
    display: block;
    margin: auto;
  }

  .contact-grid-item p {
  font-size: 5vw;
}

}